@import "../../../../styles/variables";
@import "../../../../styles/mixins";

$scroll-max-height: 277px;

.scroll {
  overflow: auto;
  max-height: $scroll-max-height;
}

.wrapper {
  margin-bottom: $default-spacing * 2;
  background-color: $color-white;
  @include elevationTwo();
}
