@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$min-width: 250px;
$menu-item-height: $default-spacing * 4;

// Need to add !important flags to the menu
// so not to overwrite ant design styles

.wrapper {
  min-width: $min-width;
  padding: $default-spacing 0px;
  box-shadow: $elevation-level-one !important;
}

.item {
  padding: 0px $default-spacing * 4 !important;
  height: $menu-item-height !important;
  line-height: $menu-item-height !important;
}

.heading {
  display: flex;
  align-items: center;
  @include defaultFont();
  height: $menu-item-height;
  line-height: $menu-item-height;
  padding: 0px $default-spacing * 2;
}

.icon {
  margin-right: $default-spacing / 2;
}

.coming {
  color: $color-success;
}

.going {
  color: $color-danger;
}
