@import "~fineos-common/src/lib/styles/variables";
@import "~fineos-common/src/lib/styles/mixins";
@import "~fineos-common/src/lib/styles/functions/rem";

.selectEmail {

  .emailCard {
    padding: toRem($default-spacing) toRem($default-spacing * 3) toRem($default-spacing) toRem($default-spacing * 2.5);
  }

  .emailCard:not(:last-child) {
    margin-bottom: toRem($default-spacing);
  }
  
  .radioOption {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: toRem($default-spacing * 0.5)
  }

  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  
  :global {
    .ant-radio-group {
      width: 100%;
    }
  }
}