@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.header {
  @include panelTitleFont;
  padding: 0 $default-spacing * 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  margin-right: $default-spacing;
  color: $color-grey-600;
}

.unreadCount {
  @include font($font-size-base, $color-grey-600);
}
