@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.header {
  @include panelTitleFont;
  padding: 0 $default-spacing;
}

.icon {
  margin-right: $default-spacing;
  color: $color-grey-600;
}
