@import "../../../../../styles/variables/";

.container {
  margin: $default-spacing * 2;
}

.form {
  margin: $default-spacing * 4 0px $default-spacing * 4 0px;
}

.heading {
  margin: $default-spacing * 4 0px $default-spacing * 2 0px;
}

.formGroup {
  margin: $default-spacing * 2 0px $default-spacing * 2 0px;
}
