@import "./mixins";

$circle-unit: 14px;
$border: 1px;
$icon-spacing: 7px;

.circle {
  width: $circle-unit;
  height: $circle-unit;
  border: $border solid $color-grey-600;
  border-radius: 25px;
  z-index: 1;
  background-color: white;
}

.pendingIcon {
  @include notification-icon($color-grey-400);
}

.decidingIcon {
  @include notification-icon($color-primary-light);
}

.decidedIcon {
  @include notification-icon($color-primary-dark);
}

.icon {
  color: $color-white;
  padding: $icon-spacing 0px 0px $icon-spacing;
}
