/* For this image we want different background */
img[alt="Hexagons"] {
  background: #f4f5f6;
  max-height: 250px;
}

img[src*=".svg"] {
  max-width: 50px;
}

img[alt="UI Configurator"], img[alt="UI Configurator - Custom Color"] {
  max-width: 450px;
}

h2, h3, h4 {
  page-break-before: always;
}

h2 + h3, h3 + h4 {
  page-break-before: avoid;
}
