@import "../../../../../styles/variables/";
@import "../../../../../styles/mixins";

.wrapper {
  border: solid 1px $color-grey-300;
  padding: $default-spacing * 2;
  display: flex;
  justify-content: space-evenly;
}

.description {
  color: $color-grey-700;
  padding: $default-spacing $default-spacing * 2 0 $default-spacing * 2;
}

.iconContainer {
  padding: $default-spacing $default-spacing * 2 0 $default-spacing * 2;
}
