@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.wrapper {
  flex: 1;
  padding: $default-spacing * 2;
  @include font($font-size-base, $color-grey-default, normal, italic);
}
