@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-warning-light;
  padding: $default-spacing * 2;
}

.phone {
  margin-top: $default-spacing * 2;
  @include font($font-size-page-title, $color-grey-800);
}
