@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.form {
  width: 100%;
}

.title {
  @include font(21px, $color-grey-600);
  margin-bottom: $default-spacing * 2;
}

.radioGroup {
  margin-bottom: $default-spacing * 2;
}

.controls {
  margin-top: $default-spacing * 4;
}
