@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.navBar {
  position: fixed;
  top: $header-height;
  left: 0px;
  width: 100%;
  z-index: $level-three-z-index * 4;
  background-color: $color-white;
  @include elevationTwo();
}

.badge {
  margin-left: $default-spacing / 2;
  padding: 0 $default-spacing * 0.75;
  border-radius: $default-spacing / 2;
  background-color: $color-danger;
  color: $color-white;
}

.menu {
  max-width: $default-content-width + 40px;
}
