@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

$stripe-distance: 10px;
$stripe-degree: 45deg;

@function halvedBackground($regular-color, $lighter-color) {
  @return linear-gradient(to left, $lighter-color, $lighter-color 50%, $regular-color 50%, $regular-color);
}

.wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: $default-spacing;
    height: 100%;
  }

  &.full {
    &.warning {
      &::before {
        background: $color-warning;
      }
    }
    &.success {
      &::before {
        background: $color-success;
      }
    }
    &.danger {
      &::before {
        background: $color-danger;
      }
    }
    &.default {
      &::before {
        background: $color-grey-600;
      }
    }
  }

  &.angled {
    &.warning {
      &::before {
        background: stripesBackground($color-warning, lighten($color-warning, 30), $stripe-distance, $stripe-degree);
      }
    }

    &.success {
      &::before {
        background: stripesBackground($color-success, lighten($color-success, 30), $stripe-distance, $stripe-degree);
      }
    }

    &.danger {
      &::before {
        background: stripesBackground($color-danger, lighten($color-danger, 30), $stripe-distance, $stripe-degree);
      }
    }

    &.default {
      &::before {
        background: stripesBackground($color-grey-600, lighten($color-grey-600, 30), $stripe-distance, $stripe-degree);
      }
    }
  }

  &.halved {
    &.warning {
      &::before {
        background: halvedBackground($color-warning, $color-warning-light);
      }
    }

    &.success {
      &::before {
        background: halvedBackground($color-success, $color-success-light);
      }
    }

    &.danger {
      &::before {
        background: halvedBackground($color-danger, $color-danger-light);
      }
    }

    &.default {
      &::before {
        background: halvedBackground($color-grey-600, $color-grey-400);
      }
    }
  }
}

.content {
  margin-left: $default-spacing;
  padding: $default-spacing * 2;
  border-bottom: 1px solid $color-grey-400;
}
