@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.wrapper {
  padding: $default-spacing * 2;
  border: $default-spacing / 2 dotted $color-grey-400;
  color: $color-grey-600;
  margin-bottom: $default-spacing;
}

.title {
  @include font(18px, $color-grey-600);
}
