@import "../../../../../../styles/variables/";
@import "../../../../../../styles/mixins";

.panel {
  margin-bottom: $default-spacing * 1.5;
  padding: $default-spacing * 2;

  .inProgress {
    background-color: $color-warning-light;
    margin: $default-spacing;
    padding: $default-spacing;
  }

  .notificationCol {
    align-self: stretch;
    display: flex;
    align-items: center;

    &.withBorder {
      border-right: 1px solid $color-grey-300;
    }

    &.withPadding {
      padding: 0 $default-spacing * 2;
    }
  }

  .header {
    @include panelTitleFont;
    margin: $default-spacing * 2;
  }
}
