@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.wrapper {
  background-color: $color-white;
  position: fixed;
  top: 97px;
  left: 0px;
  width: 100%;
  z-index: $level-two-z-index;
  @include elevationOne();
}

.overview {
  position: relative;
  display: flex;
  flex: 1;
  margin: $default-spacing * 4 0px;
  justify-content: space-between;

  &:before {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 90px);
    top: 17px;
    left: 45px;
    background-color: $color-grey-600;
    z-index: 0;
  }
}
