@import "../../../../../../../styles/mixins";
@import "../gantt.variables";

$time-entry-marker-height: 12px;

.projectionLine {
  position: absolute;
  top: 0;
  width: 1px;
  border-left: $gantt-border-size dashed $color-grey-300;
  z-index: $gantt-time-mark-z-index;
}

.timeBarLabel {
  position: absolute;
  display: flex;
  align-items: center;
  color: $color-grey-700;
  height: $gantt-time-entry-size + $gantt-row-height - $gantt-time-entry-size;
  z-index: $gantt-time-bar-z-index;
  line-height: 1;
}

.singleEntryTimeBar {
  position: absolute;
  height: $gantt-time-entry-size;
  width: $gantt-time-entry-size;
  border-radius: $gantt-time-entry-size / 2;
  z-index: $gantt-time-bar-z-index;
  left: $gantt-time-entry-size / 2;
}

.durationTimeBar {
  position: absolute;
  height: $gantt-time-entry-size;
  border-radius: $gantt-time-duration-border-radius;
  min-width: $gantt-time-entry-size;
  z-index: $gantt-time-bar-z-index;

  $dot-offset: ($gantt-time-entry-size - ($time-entry-marker-height)) / 2;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: $dot-offset;
    border-top: ($time-entry-marker-height / 2) solid transparent;
    border-bottom: ($time-entry-marker-height / 2) solid transparent;
  }

  &:before {
    left: $dot-offset;
    border-left: ($time-entry-marker-height / 2) solid white;
  }

  &:after {
    right: $dot-offset;
    border-right: ($time-entry-marker-height / 2) solid white;
  }
}

.redColor {
  @include shapes($gantt-red-color, $gantt-red-color-light);
}

.greenColor {
  @include shapes($gantt-green-color, $gantt-green-color-light);
}

.yellowColor {
  @include shapes($gantt-yellow-color, $gantt-yellow-color-light);
}

.greyColor {
  @include shapes($gantt-grey-color, $gantt-grey-color-light);
}

.tooltipContainer {
  max-width: 260px;
  text-align: center;
}
