@import "../../../../styles/variables";

.content {
  display: flex;
  margin: 0 auto;
  max-width: $default-content-width;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

@media (max-width: $default-max-width) {
  .padding {
    padding: 0 $default-spacing * 4;
  }

  .noPadding {
    padding: 0px;
  }
}
