@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$borderRight: 10px;

.listWrapper {
  border-radius: 0px;
  border-right: $borderRight solid transparent;
  cursor: pointer;
}

.border {
  border: 1px solid $color-grey-300;
}

.selected {
  border-right: $borderRight solid $color-primary;
  background: $color-primary-extra-light;
}
