@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

$dot-unit: 10px;

// inline ant component overrides
.ant-badge-status-dot {
  width: $dot-unit;
  height: $dot-unit;
}

.ant-badge-status-text {
  @include font($font-size-base, $color-grey-default, 400);
}

.count {
  padding-left: $default-spacing / 2;
}
