@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.subtitle {
  @include font();
  margin: $default-spacing * 3 0px $default-spacing 0px;
  color: $color-grey-600;
}
