@import "../../../../styles/variables/";
@import "../../../../styles/mixins";

.wrapper {
  padding: $default-spacing * 5;
  color: $color-grey-600;
  margin-top: $default-spacing * 2;
  text-align: center;
}

.dotted {
  border: $default-spacing / 2 dotted $color-grey-400;
}

.title {
  @include font(18px, $color-grey-600);
}
