@import "../variables";
@import "../mixins";

.ant-alert-error {
  background-color: $color-danger-light;
  border: 1px solid $color-danger-dark;
}

.ant-alert-message {
  @include defaultBoldFont();
}

.ant-alert-description {
  @include smallFont();
}
