@import "../variables";

$button-padding: 15px;

.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
  padding-left: $button-padding;
}

.ant-btn .anticon {
  margin-right: $default-spacing;
}
