@import "../mixins";
@import "../variables";

.ant-collapse {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: $default-spacing;
}

.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  @include panelTitleFont();
  color: inherit;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  color: $color-grey-default;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 0px;
  background-color: $color-white;
  @include elevationTwo();
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0px;
}

.ant-collapse-item:last-child > .ant-collapse-content {
  border-radius: 0px;
}

.ant-collapse-borderless > .ant-collapse-item:last-child,
.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  box-shadow: none;
}
