.ant-form-item {
  margin-bottom: inherit;
}

.ant-form-item-label {
  line-height: inherit;
  white-space: unset;
  text-align: left;
}

.ant-form-item-label > label::after {
  content: none;
}

.ant-calendar-picker {
  width: 100%;
}
