@import "../mixins";
@import "../variables";

/// header gradient colours
$navbar-primary: #00828f;
$navbar-primary-dark: #00828f;

.ant-layout-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  padding: 0;
  background: none;
}

.ant-avatar {
  background-color: $color-primary-light;
  margin-right: 10px;
}
