@import "../mixins";
@import "../variables";

$nav-link-padding: -20px;

.ant-menu {
  margin: 0 $nav-link-padding;
}

.ant-menu-horizontal {
  border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
  color: $color-grey-default;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 2px solid transparent;
}

.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-item > a.active:hover {
  color: $color-action-blue;
}

.ant-menu-horizontal > .ant-menu-item > a.active {
  color: $color-action-blue;
}
