@import "../../styles/variables";
@import "../../styles/mixins";

$tabBoxShadow: $elevation-level-one, inset -10px 1px 2px rgba(0, 0, 0, 0.12);
$tabPadding: 20px 40px 19px 16px;

.ant-tabs {
  margin-left: -$default-spacing;
}

.ant-tabs .ant-tabs-left-bar,
.ant-tabs .ant-tabs-left-bar .ant-tabs-nav-container,
.ant-tabs .ant-tabs-left-bar .ant-tabs-nav-wrap {
  margin-right: 0;
}

.ant-tabs .ant-tabs-left-bar {
  border-right: none;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  padding: $tabPadding;
  margin-bottom: 2px;
  box-shadow: $tabBoxShadow;
}

.ant-tabs-nav {
  margin-left: $default-spacing;
  margin-bottom: $default-spacing;
}

.ant-tabs-nav .ant-tabs-tab {
  background: $color-white;

  &:hover {
    color: inherit;
  }
}

.ant-tabs-nav .ant-tabs-tab-active {
  background: $color-primary;
  color: $color-white;

  &:hover {
    color: $color-white;
  }

  &:after {
    content: "";
    border-top: $default-spacing * 2 solid transparent;
    border-bottom: $default-spacing * 2 solid transparent;
    border-right: $default-spacing * 3.5 solid white;
    display: inline-block;
    position: absolute;
    right: 0;
    top: calc(50% - (#{$default-spacing} * 2));
  }
}

.ant-tabs-ink-bar {
  background: transparent;
}

.ant-tabs .ant-tabs-left-content {
  padding: 0;
  border-left: none;
  @include elevationTwo();
  margin: $default-spacing;
  background: $color-white;
}
