@import "../../../../../../styles/variables";

$scroll-max-height: 270px;

.wrapper {
  overflow: auto;
  max-height: $scroll-max-height;
}

.messageWrapper {
  border-bottom: 1px solid $color-grey-300;
}