@import "../../../../../../styles/variables";

.wrapper {
  // match the collapse header padding to keep uniform alignment
  padding: $default-spacing / 2 $default-spacing * 2 $default-spacing / 2 $default-spacing * 5;
}

.border {
  border-bottom: 1px solid $color-grey-400;
}
