@import "../../../../../styles/variables";

$min-wrapper-height: 400px;

.wrapper {
  padding: $default-spacing * 4;
  min-height: $min-wrapper-height;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  margin-top: auto;
}
