@import "../gantt.variables";

.day {
  position: absolute;
  width: $gantt-day-reserved-space;
  margin: $gantt-row-margin 0 $gantt-row-margin (-($gantt-day-reserved-space / 2));
  height: $gantt-row-height;
  display: flex;
  align-items: center;
  justify-content: center;
}
