@import "../../../../../styles/variables";

$section-offset: 120px;
$help-max-width: 412px;

.wrapper {
  margin-top: $section-offset + $default-spacing * 4;
}

.help {
  position: fixed;
  width: calc(33% - #{$default-spacing} * 4);
  max-width: $help-max-width;
}

@media (max-width: $breakpoint-lg) {
  .help {
    position: static;
    width: auto;
  }
}
