@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
    @include defaultFont();
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    
}

.itemSearchBadge {
    flex: 0 0 70%;
    max-width: 70%;
}

.searchInput {
    flex: 0 0 30%;
}

.searchBorder {
    input {
        border-radius: 25px;
    }
}
