@import "~fineos-common/src/lib/styles/variables";
@import "~fineos-common/src/lib/styles/functions/rem";

.notificationTypeForm {
  .label {
    margin-bottom: toRem($default-spacing * 2);
  }

  :global {
    .ant-checkbox-wrapper {
      display: block;
      margin: toRem($default-spacing) 0;
    }
  }
}