@import "../../../../../../../../styles/variables";
@import "../../../../../../../../styles/mixins";

.buttonSpacing {
  padding: 0;
  margin: $default-spacing 0;
}

.tableHead {
  padding: $default-spacing $default-spacing * 2;
  margin: 0 0 $default-spacing / 2 0;
  color: $color-grey-600;
  font-size: $font-size-small;
  @include elevationOne();
}

.tableHeadRow {
  margin: 0;
}

.tableBody {
  margin-bottom: $default-spacing;
  padding: 0 $default-spacing * 2;
}

.timeReportRow {
  margin-top: 0;
  margin-bottom: 0;
  padding: $default-spacing * 1.5 0;

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey-300;
  }
}

.modalBody {
  padding: $default-spacing * 3;
}
