@import "../../../../../../styles/mixins";
@import "../gantt/gantt.variables";

.legendGroupCaption {
  font-weight: 600;
}

.legendGroup {
  margin-bottom: $default-spacing * 2;

  &:last-of-type {
    margin-bottom: unset;
  }
}

.legendList {
  list-style: none;
  padding: 0;
}

$legend-item-box-size-outer: $font-size-base;
$legend-item-box-border-width: 1px;
$legend-item-box-size: $legend-item-box-size-outer - ($legend-item-box-border-width * 2);

@mixin legendItemBoxBorderFix($color) {
  border: $legend-item-box-border-width solid $color;
}

.legendItem {
  &:before {
    content: " ";
    display: inline-block;
    width: $legend-item-box-size;
    height: $legend-item-box-size;
    margin-right: $legend-item-box-size-outer;
    vertical-align: middle;
  }

  &.approved {
    &:before {
      @include legendItemBoxBorderFix($gantt-green-color);
      background-color: $gantt-green-color;
    }
  }

  &.pending {
    &:before {
      @include legendItemBoxBorderFix($gantt-yellow-color);
      background-color: $gantt-yellow-color;
    }
  }

  &.declined {
    &:before {
      @include legendItemBoxBorderFix($gantt-red-color);
      background-color: $gantt-red-color;
    }
  }

  &.cancelled {
    &:before {
      @include legendItemBoxBorderFix($gantt-grey-color);
      background-color: $gantt-grey-color;
    }
  }

  &.continuousTime {
    &:before {
      @include legendItemBoxBorderFix($gantt-grey-color);
    }
  }

  &.intermittentTime {
    &:before {
      @include legendItemBoxBorderFix($gantt-grey-color);
      background: stripesBackground($gantt-grey-color, $color-white, $legend-item-box-size-outer / 2);
    }
  }

  &.reducedSchedule {
    &:before {
      @include legendItemBoxBorderFix($gantt-grey-color);
      background: semiFilledBackground($gantt-grey-color, $color-white);
    }
  }
}
