@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.wrapper {
  padding: 0 $default-spacing $default-spacing 0;
}

.label {
  @include smallFont();
  color: $color-grey-600;
  margin-bottom: $default-spacing / 2;
}

.inlineLabel {
  @include smallFont();
  color: $color-grey-600;
  margin-right: $default-spacing / 2;
}

.value {
  @include font($font-size-base, $color-grey-default, 400);
}

.fullWidth {
  padding: 0;
  width: 100%;
}

.additionalPadding {
  padding-bottom: $default-spacing * 2;
}
