@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.wrapper {
  margin-top: $default-spacing * 2;

  .button {
    padding: 0 toRem($default-spacing * 1.5);
    color: $color-action-blue;
  }
}

.amount {
  display: flex;
  justify-content: space-between;
  padding-top: $default-spacing;
  padding-bottom: $default-spacing;
}

.net {
  border-top: 2px solid $color-grey-500;
  font-weight: 600;
}
