@import "../../../../../styles/variables/";
@import "../../../../../styles/mixins";
@import "../../../../../styles/status";

.status {
  display: flex;
  padding: $default-spacing * 2;

  .caseProgress {
    margin-left: $default-spacing * 2;
  }
}
