@import "../../../../../../../../styles/variables";

.wrapper {
  > * + * {
    margin-left: $default-spacing * 2;
  }
}

.header {
  display: flex;
  align-items: center;

  i {
    margin-left: $default-spacing;
    color: $color-grey-500;
  }
}
