@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

$icon-size: 64px;
$max-wrapper-width: 600px;

.title {
  @include font(21px, $color-grey-600);
  margin-bottom: $default-spacing * 2;
}

.wrapper {
  padding: $default-spacing * 4;
  display: flex;
  max-width: $max-wrapper-width;
}

.icon {
  display: flex;

  font-size: $icon-size;
  color: $color-grey-500;
  margin-right: $default-spacing * 4;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  margin-bottom: $default-spacing * 2;
}
