@import "../../../../../styles/variables";

.upload {
  margin-top: $default-spacing * 2;
  border: $default-spacing / 2 dotted $color-grey-400;
  text-align: center;
  padding: $default-spacing * 4;
}

.spacing {
  margin: $default-spacing 0;
}
