@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

$panel-icon-size: 18px;

.header {
  display: flex;
  align-items: center;
  padding: $default-spacing;
  justify-content: space-between;
  border-bottom: 1px solid $color-grey-100;
}

.badge {
  color: $color-grey-600;
}

.icon {
  font-size: $panel-icon-size;
}

.text {
  @include panelTitleFont;
  padding-left: $default-spacing * 2;
}
