@import "../../../../styles/variables";
@import "../../../../styles/mixins";
@import "./breakpoints";

$hero-primary: #007986;
$hero-primary-dark: #004a67;
$hero-margin-bottom: 50px;
$hero-margin-medium-screen-offset: 30px;
$hero-margin-small-screen-offset: 80px;

.container {
  display: flex;
  position: relative;
  background: linear-gradient(to left, $hero-primary, $hero-primary-dark);
  margin-bottom: $hero-margin-bottom;
  padding: $default-spacing * 4 0px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 607.5 218.8' style='enable-background:new 0 0 607.5 218.8;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bopacity:0.5;clip-path:url(%23SVGID_2_);%7d .st1%7bfill:%23FFFFFF;%7d .st2%7bopacity:0.6;clip-path:url(%23SVGID_2_);%7d .st3%7bopacity:0.4;clip-path:url(%23SVGID_2_);%7d .st4%7bopacity:0.2;clip-path:url(%23SVGID_2_);%7d .st5%7bopacity:0.3;clip-path:url(%23SVGID_2_);%7d %3c/style%3e%3cg%3e%3cdefs%3e%3crect id='SVGID_1_' x='-0.6' y='-0.2' width='609.7' height='219.8'/%3e%3c/defs%3e%3cclipPath id='SVGID_2_'%3e%3cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3e%3c/clipPath%3e%3cg class='st0'%3e%3cpath class='st1' d='M390.6,60l-29.5-17V9l29.5-17L420,9v34L390.6,60z M362.1,42.4l28.5,16.4L419,42.4V9.6L390.6-6.9L362.1,9.6 V42.4z'/%3e%3c/g%3e%3cg class='st0'%3e%3cpath class='st1' d='M604.8,166.3l-29.5-17v-34l29.5-17l29.5,17v34L604.8,166.3z M576.3,148.7l28.5,16.4l28.5-16.4v-32.9 l-28.5-16.4l-28.5,16.4V148.7z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M403.5,262.6l-29.5-17v-34l29.5-17l29.5,17v34L403.5,262.6z M375,245l28.5,16.4L432,245v-32.9l-28.5-16.4 L375,212.1V245z'/%3e%3c/g%3e%3cg class='st3'%3e%3cpath class='st1' d='M224.3,132.8l-29.5-17v-34l29.5-17l29.5,17v34L224.3,132.8z M195.8,115.2l28.5,16.4l28.5-16.4V82.4 l-28.5-16.4l-28.5,16.4V115.2z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M318.5,181.1l-29.5-17v-34l29.5-17l29.5,17v34L318.5,181.1z M290,163.5l28.5,16.4l28.5-16.4v-32.9l-28.5-16.4 L290,130.7V163.5z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M575.8,252.3l-29.5-17v-34l29.5-17l29.5,17v34L575.8,252.3z M547.3,234.7l28.5,16.4l28.5-16.4v-32.9 l-28.5-16.4l-28.5,16.4V234.7z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M243.8,26.6l-29.5-17v-34l29.5-17l29.5,17v34L243.8,26.6z M215.3,9l28.5,16.4L272.3,9v-32.9l-28.5-16.4 l-28.5,16.4V9z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M86.2,60.9l-29.5-17v-34l29.5-17l29.5,17v34L86.2,60.9z M57.7,43.3l28.5,16.4l28.5-16.4V10.4L86.2-6 L57.7,10.4V43.3z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M490.2,47.3l-29.5-17v-34l29.5-17l29.5,17v34L490.2,47.3z M461.7,29.7l28.5,16.4l28.5-16.4V-3.2l-28.5-16.4 L461.7-3.2V29.7z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M448.5,152L419,135v-34l29.5-17l29.5,17v34L448.5,152z M420,134.4l28.5,16.4l28.5-16.4v-32.9l-28.5-16.4 L420,101.5V134.4z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M148.8,253.6l-29.5-17v-34l29.5-17l29.5,17v34L148.8,253.6z M120.4,236.1l28.5,16.4l28.5-16.4v-32.9 l-28.5-16.4l-28.5,16.4V236.1z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M601.8,37.7l-29.5-17v-34l29.5-17l29.5,17v34L601.8,37.7z M573.3,20.1l28.5,16.4l28.5-16.4v-32.9l-28.5-16.4 l-28.5,16.4V20.1z'/%3e%3c/g%3e%3cg class='st5'%3e%3cpath class='st1' d='M165.3,138.7l-0.3-0.1l-62.9-36.3V29.3l63.2-36.5l0.3,0.1l62.9,36.3v72.9L165.3,138.7z M103.2,101.7 l62.2,35.9l62.2-35.9V29.9L165.3-6l-62.2,35.9V101.7z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M461.2,234.6l-0.3-0.1L398,198.1v-72.9l63.2-36.5l0.3,0.1l62.9,36.3v72.9L461.2,234.6z M399,197.5l62.2,35.9 l62.2-35.9v-71.8l-62.2-35.9L399,125.7V197.5z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M625.6,139.8l-0.3-0.1l-62.9-36.3V30.4l63.2-36.5l0.3,0.1l62.9,36.3v72.9L625.6,139.8z M563.5,102.7 l62.2,35.9l62.2-35.9V30.9L625.6-5l-62.2,35.9V102.7z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M357.3,70.1l-0.3-0.1l-62.9-36.3v-72.9l63.2-36.5l0.3,0.1l62.9,36.3v72.9L357.3,70.1z M295.1,33l62.2,35.9 L419.4,33v-71.8l-62.2-35.9l-62.2,35.9V33z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M415.4,76.8l-20.6-11.9V41.2l20.6-11.9L436,41.2v23.8L415.4,76.8z M395.8,64.4l19.6,11.3L435,64.4V41.8 l-19.6-11.3l-19.6,11.3V64.4z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M272.8,218.8L252.2,207v-23.8l20.6-11.9l20.6,11.9V207L272.8,218.8z M253.2,206.4l19.6,11.3l19.6-11.3v-22.6 l-19.6-11.3l-19.6,11.3V206.4z'/%3e%3c/g%3e%3cg class='st0'%3e%3cpath class='st1' d='M311.2,66.3l-20.6-11.9V30.7l20.6-11.9l20.6,11.9v23.8L311.2,66.3z M291.7,53.9l19.6,11.3l19.6-11.3V31.3 L311.2,20l-19.6,11.3V53.9z'/%3e%3c/g%3e%3cg class='st0'%3e%3cpath class='st1' d='M386.3,128.4l-20.6-11.9V92.8l20.6-11.9l20.6,11.9v23.8L386.3,128.4z M366.7,116l19.6,11.3l19.6-11.3V93.4 l-19.6-11.3l-19.6,11.3V116z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M347.4,233.3l-20.6-11.9v-23.8l20.6-11.9l20.6,11.9v23.8L347.4,233.3z M327.9,220.8l19.6,11.3l19.6-11.3 v-22.6l-19.6-11.3l-19.6,11.3V220.8z'/%3e%3c/g%3e%3cg class='st0'%3e%3cpath class='st1' d='M452.6,215L432,203.1v-23.8l20.6-11.9l20.6,11.9v23.8L452.6,215z M433,202.5l19.6,11.3l19.6-11.3v-22.6 l-19.6-11.3L433,179.9V202.5z'/%3e%3c/g%3e%3cg class='st0'%3e%3cpath class='st1' d='M526.7,100l-20.6-11.9V64.4l20.6-11.9l20.6,11.9v23.8L526.7,100z M507.1,87.5l19.6,11.3l19.6-11.3V64.9 l-19.6-11.3l-19.6,11.3V87.5z'/%3e%3c/g%3e%3cg class='st0'%3e%3cpath class='st1' d='M530,164.9L509.5,153v-23.8l20.6-11.9l20.6,11.9V153L530,164.9z M510.5,152.5l19.6,11.3l19.6-11.3v-22.6 L530,118.5l-19.6,11.3V152.5z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M325.9,156.6l-13.4-7.7v-15.4l13.4-7.7l13.4,7.7v15.4L325.9,156.6z M313.6,148.3l12.4,7.1l12.4-7.1V134 l-12.4-7.1l-12.4,7.1V148.3z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M596.2,206.6l-13.4-7.7v-15.4l13.4-7.7l13.4,7.7v15.4L596.2,206.6z M583.8,198.4l12.4,7.1l12.4-7.1v-14.3 l-12.4-7.1l-12.4,7.1V198.4z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M563,67.4l-13.4-7.7V44.3l13.4-7.7l13.4,7.7v15.4L563,67.4z M550.6,59.1l12.4,7.1l12.4-7.1V44.9L563,37.7 l-12.4,7.1V59.1z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M497.1,49.8l-13.4-7.7V26.7l13.4-7.7l13.4,7.7v15.4L497.1,49.8z M484.8,41.5l12.4,7.1l12.4-7.1V27.3 l-12.4-7.1l-12.4,7.1V41.5z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M490.2,187.3l-13.4-7.7v-15.4l13.4-7.7l13.4,7.7v15.4L490.2,187.3z M477.8,179l12.4,7.1l12.4-7.1v-14.3 l-12.4-7.1l-12.4,7.1V179z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M546.8,216l-13.4-7.7v-15.4l13.4-7.7l13.4,7.7v15.4L546.8,216z M534.5,207.8l12.4,7.1l12.4-7.1v-14.3 l-12.4-7.1l-12.4,7.1V207.8z'/%3e%3c/g%3e%3cg class='st2'%3e%3cpath class='st1' d='M550.1,171.4l-13.4-7.7v-15.4l13.4-7.7l13.4,7.7v15.4L550.1,171.4z M537.8,163.1l12.4,7.1l12.4-7.1v-14.3 l-12.4-7.1l-12.4,7.1V163.1z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M361.6,112.8l-13.4-7.7V89.7l13.4-7.7l13.4,7.7v15.4L361.6,112.8z M349.2,104.5l12.4,7.1l12.4-7.1V90.2 l-12.4-7.1l-12.4,7.1V104.5z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M311.2,88.3l-13.4-7.7V65.2l13.4-7.7l13.4,7.7v15.4L311.2,88.3z M298.9,80.1l12.4,7.1l12.4-7.1V65.8 l-12.4-7.1l-12.4,7.1V80.1z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M390.6,170.1l-13.4-7.7V147l13.4-7.7l13.4,7.7v15.4L390.6,170.1z M378.2,161.9l12.4,7.1l12.4-7.1v-14.3 l-12.4-7.1l-12.4,7.1V161.9z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M190.6,191.8l-13.4-7.7v-15.4l13.4-7.7l13.4,7.7v15.4L190.6,191.8z M178.3,183.5l12.4,7.1l12.4-7.1v-14.3 l-12.4-7.1l-12.4,7.1V183.5z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M463.1,74.9l-13.4-7.7V51.7l13.4-7.7l13.4,7.7v15.4L463.1,74.9z M450.7,66.6l12.4,7.1l12.4-7.1V52.3 l-12.4-7.1l-12.4,7.1V66.6z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M16.6,129.1l-13.4-7.7v-15.4l13.4-7.7l13.4,7.7v15.4L16.6,129.1z M4.3,120.8l12.4,7.1l12.4-7.1v-14.3 l-12.4-7.1l-12.4,7.1V120.8z'/%3e%3c/g%3e%3cg class='st4'%3e%3cpath class='st1' d='M107,168.2l-13.4-7.7V145l13.4-7.7l13.4,7.7v15.4L107,168.2z M94.6,159.9L107,167l12.4-7.1v-14.3l-12.4-7.1 l-12.4,7.1V159.9z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ")
      right center no-repeat;
    opacity: 0.5;
    z-index: 0;
  }
}

.columns {
  z-index: 1;
  display: flex;
}

@media (min-width: $hero-lg-breakpoint) and (max-width: $hero-lg-breakpoint + 70px) {
  .container {
    margin-bottom: $hero-margin-bottom + $hero-margin-medium-screen-offset;
  }
}

@media (min-width: $hero-sm-breakpoint) and (max-width: $hero-lg-breakpoint) {
  .container {
    margin-bottom: $hero-margin-bottom + $hero-margin-small-screen-offset;
  }

  .columns {
    display: block;
  }
}
