@import "gantt.variables";

$border: $gantt-border-size solid $color-grey-300;

.container {
  margin: $default-spacing $default-spacing $default-spacing * 7 $default-spacing;
  display: flex;
  position: relative;
}

$gantt-row-height-with-padding: $gantt-row-height + $default-spacing * 2;
$description-column-width: 240px;

.groupsColumn {
  width: $description-column-width;
  margin-top: $gantt-row-height-with-padding;
  border-left: $border;
  border-top: $border;
}

.groupsColumnCell {
  padding: $default-spacing;

  border-bottom: $border;

  &.groupsColumnCellRow {
    // in case if 2 classes merged
    height: $gantt-row-height-with-padding;
  }
}

// windows scroll-bar
$horizontal-scroll-reserved-space: 17px;
$background-color: $color-white;
$erasing-border: 1px solid $background-color;

.canvasContainer {
  flex: 1;
  min-height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
  border-left: $border;
  border-right: $border;

  margin-bottom: -$today-tooltip-outer-with-elevation;

  // due to the idea that scrollbar should be outside of element, we need to extend container
  // and then hide extra borders

  &:before, &:after {
    position: absolute;
    display: block;
    z-index: 1;
    content: ' ';
    width: 1px;
    bottom: -$today-tooltip-outer-with-elevation;
    height: $today-tooltip-outer-with-elevation;
  }

  &:before {
    border-left: $erasing-border;
    left: $description-column-width;
  }

  &:after {
    border-right: $erasing-border;
    right: 0;
  }

  &.extended {
    margin-bottom: -$horizontal-scroll-reserved-space;
    overflow-x: auto;

    &:before, &:after {
      bottom: -$horizontal-scroll-reserved-space;
      height: $horizontal-scroll-reserved-space;
    }

    .canvasLayer {
      min-height: calc(100% - #{$horizontal-scroll-reserved-space});
    }
  }
}

.fixedCanvas {
  position: absolute;
  right: 0;
  bottom: $gantt-border-size;
  height: calc(100% - #{$gantt-row-height-with-padding * 2 + $gantt-border-size * 2});
  width: calc(100% - #{$description-column-width});
}

.canvasLayer {
  min-height: calc(100% - #{$today-tooltip-outer-with-elevation});
  display: flex;
  flex-direction: column;
  border-top: $border;
  border-bottom: $border;
}

.groupsColumnCellRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 $default-spacing;
  text-align: right;

  &.disabled {
    color: $color-grey-600;
  }

  :global {
    .ant-btn {
      padding: 0;
    }
  }
}

.groupsColumnCellSubRow {
  padding: $default-spacing;
}

.timeScaleRow {
  display: flex;
  position: relative;
  height: $gantt-row-height-with-padding;
}

.timeScaleRowCell {
  position: absolute;
  border-bottom: $border;
  border-right: $border;
  height: $gantt-row-height-with-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &.lastTimeScaleRowCell {
    border-right: none;
  }
}

.timeLineCanvas {
  position: relative;
  flex: 1;
}

.gridGroupBorder {
  position: absolute;
  left: 0;
  border-bottom: $border;
  z-index: $gantt-grid-z-index;
}

.gridMonthBorder {
  position: absolute;
  z-index: $gantt-grid-z-index;
  min-height: 100%;
  border-right: $border;

  &.lastGridMonthBorder {
    border-right: none;
  }
}

.quickLink {
  position: absolute;

  top: $gantt-row-height-with-padding + $default-spacing;
  color: inherit;
  z-index: $gantt-quick-link-z-index;

  background: $color-white;

  &:hover {
    background: $color-white;
  }

  &.left {
    left: $description-column-width + ($default-spacing / 2);
    box-shadow: $default-spacing 0 $default-spacing ($default-spacing / 2) rgba($color-white, 0.75);
  }

  &.right {
    right: $default-spacing / 2;
    box-shadow: -$default-spacing 0 $default-spacing ($default-spacing / 2) rgba($color-white, 0.75);
  }
}
