@import "gantt.variables";

// this is explicit exports to JS
:export {
  rowHeight: $gantt-row-height;
  rowMargin: $gantt-row-margin;
  borderSize: $gantt-border-size;
  dayReservedSpace: $gantt-day-reserved-space;
  todayTooltipWidth: $today-tooltip-width;
  timeEntrySize: $gantt-time-entry-size;
}
