@import "../../../../../../styles/variables";

$gantt-row-height: 32px;
$gantt-row-margin: $default-spacing;
$gantt-border-size: 1px;

$gantt-green-color: $color-success;
$gantt-yellow-color: $color-warning;
$gantt-red-color: $color-danger;
$gantt-grey-color: $color-grey-500;

$gantt-green-color-light: $color-success-light;
$gantt-yellow-color-light: $color-warning-light;
$gantt-red-color-light: $color-danger-light;
$gantt-grey-color-light: $color-grey-400;

// this is used mostly in JS, for preventing overlapping multiple days in one line
// for consistency it's kept here
// value was identified using empirical method
$gantt-day-reserved-space: 22px;

$gantt-quick-link-z-index: 1;
$gantt-today-z-index: 2;
$gantt-grid-z-index: 3;
$gantt-time-mark-z-index: 4;
$gantt-time-bar-z-index: 5;

$gantt-time-entry-size: 16px;
$gantt-time-duration-border-radius: 3px;

$today-tooltip-width: 70px;
$today-tooltip-triangle-size: 6px;
$today-tooltip-height: $line-height-base * $font-size-base + $default-spacing * 2;
$today-tooltip-outer-height: $today-tooltip-height + $today-tooltip-triangle-size;
$today-tooltip-elevation-size: 4px;

$today-tooltip-outer-with-elevation: $today-tooltip-outer-height + $today-tooltip-elevation-size;
