@import "../../../../../../../../../styles/variables";

.radio {
  display: flex;
  align-items: center;
  padding: $default-spacing * 2;
}

.panel {
  margin-bottom: $default-spacing;
}

.selected {
  background: $color-primary-extra-light;
}
