@import "../../../../styles/variables/";
@import "../../../../styles/mixins";

.link {
    // we don't want to overwrite all '.ant-breadcrumb-link' styles
    color: $color-action-blue !important;
}

.header {
  @include panelTitleFont;
}