@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.relatesTo {
  display: inline-block;
  margin-right: $default-spacing * 2;
}

.label {
  display: inline-block;
  margin-right: $default-spacing;
}

.details {
  margin-left: auto;
  @include defaultFont();
}
