@import "../../../styles/variables";
@import "../../../styles/mixins";

$icon-unit: 30px;

.tab {
  display: flex;
  align-items: center;
}

.text {
  margin-left: $default-spacing * 2;
  @include panelTitleFont();
}

.icon {
  height: $icon-unit;
  width: $icon-unit;
  background-size: $icon-unit;
  background-position: center;
  background-repeat: no-repeat;
}

.personalDetail {
  background-image: url(../../../assets/img/personal-details.svg);
}

.personalDetailActive {
  background-image: url(../../../assets/img/personal-details-white.svg);
}

.employmentDetails {
  background-image: url(../../../assets/img/employment-details.svg);
}

.employmentDetailsActive {
  background-image: url(../../../assets/img/employment-details-white.svg);
}

.paymentPreferences {
  background-image: url(../../../assets/img/payment-preferences.svg);
}

.paymentPreferencesActive {
  background-image: url(../../../assets/img/payment-preferences-white.svg);
}
