@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.label {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    padding-right: $default-spacing;
  }
}

.padding {
  padding-right: $default-spacing / 2;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  @include smallFont();
}

@media (max-width: $breakpoint-md) {
  .wrapper {
    justify-content: flex-start;
  }
}

$icon-unit: 12px;

.icon {
  width: $icon-unit;
  height: $icon-unit;
  margin-right: $default-spacing;
  background: $color-grey-500;
}

.angle {
  background: linear-gradient(to bottom left, #{$color-grey-500} 50%, #{$color-grey-200} 50%);
}

.half {
  background: linear-gradient(to left, #{$color-grey-500} 50%, #{$color-grey-200} 50%);
}
