@import "../../../../../styles/variables";

.wrapper {
  margin-bottom: $default-spacing * 2;
}

.panel {
  padding: $default-spacing * 2;
}

.col {
  align-self: stretch;
  display: flex;
}

.border {
  border-left: 1px solid $color-grey-300;
}

.marginLeft {
  margin-left: $default-spacing * 2;
}
