@import "../../../../../styles/mixins";

.listItem {
  @include elevationTwo();
  padding: $default-spacing $default-spacing * 2;
  display: flex;
  justify-content: space-between;
}

// just in order to increase priority, seems ANT CSS included after local modules
button.iconButton {
  border: none;
}
