@import "../../../../styles/variables";

$max-width: 250px;

.wrapper {
  display: block;
  background-color: $color-grey-300;
  border-radius: 16px;
  margin: $default-spacing / 2 0px;
  text-align: center;
  padding: $default-spacing / 2;
  max-width: $max-width;
}
