@import "../../../../../../styles/variables";

$button-width: 180px;

.button {
  width: $button-width;
}

.modal {
  max-width: $default-content-width;
}

@media (max-width: $default-max-width) {
  .padding {
    padding: 0 $default-spacing * 4;
  }
}
