@import "../../../../../../../styles/mixins";
@import "../gantt.variables";

$tooltip-background-color: #00aabc;
$tooltip-color: #fff;
$tooltip-border-radius: 4px;
$today-border-size: $gantt-border-size * 2;

.today {
  position: absolute;
  z-index: $gantt-today-z-index;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d9f2f5;
  border-right: $today-border-size solid #72d0d9;
}

.todayTooltip {
  @include elevationOne();
  position: absolute;
  background-color: $tooltip-background-color;
  color: $tooltip-color;
  padding: $default-spacing;
  text-align: center;
  display: inline-block;
  border-radius: $tooltip-border-radius;
  width: $today-tooltip-width;
  // 1px is for border of today
  right: -(($today-tooltip-width + $today-border-size) / 2);
  height: $today-tooltip-height;

  &:after {
    position: absolute;
    display: block;
    content: " ";
    width: 0;
    height: 0;
    left: ($today-tooltip-width / 2) - $today-tooltip-triangle-size;
    border-left: $today-tooltip-triangle-size solid transparent;
    border-right: $today-tooltip-triangle-size solid transparent;
  }

  &.bottom {
    bottom: -($today-tooltip-outer-height);
    &:after {
      border-bottom: $today-tooltip-triangle-size solid $tooltip-background-color;
      top: -$today-tooltip-triangle-size;
    }
  }

  &.top {
    top: -($today-tooltip-outer-height);
    &:after {
      border-top: $today-tooltip-triangle-size solid $tooltip-background-color;
      bottom: -$today-tooltip-triangle-size;
    }
  }
}
