@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.title {
  @include displayTitleSmallFont();
  padding: $default-spacing * 2;
  border-bottom: 1px solid $color-grey-300;
}
