@import "../../../../../../../../styles/variables";
@import "../../../../../../../../styles/mixins";

$icon-font-size: 30px;

.message {
  margin-bottom: $default-spacing;
}

.date {
  color: $color-primary;
  font-weight: 600;
}

.warning {
  background: $color-warning-light;
  padding: $default-spacing;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $default-spacing;
}

.warningIcon {
  font-size: $icon-font-size;
  color: $color-warning;
}

.warningIcon,
.warningContent {
  padding: 0 $default-spacing * 2;
}
