@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.wrapper {
  width: 100%;
}

.title {
  @include panelTitleFont();
  margin: $default-spacing * 2 0;
  width: 100%;
}
