@import "../../../../styles/variables";

$header-action-height: 24px;

.rowMargin {
  margin-bottom: $default-spacing;
  height: $header-action-height;

  .marginLeft {
    margin-left: $default-spacing;
  }
}
