@import "~fineos-common/src/lib/styles/variables";
@import "~fineos-common/src/lib/styles/mixins";
@import "~fineos-common/src/lib/styles/functions/rem";

.description {
  padding-bottom: toRem($default-spacing * 3);
}

.writtenCorrespondenceRadio {
  margin: {
    top: toRem($default-spacing);
    bottom: toRem($default-spacing * 4);
  };

  :global {
    .ant-radio-wrapper {
      margin: toRem($default-spacing / 2) 0;
      display: block;
    }
  }
}
