@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$min-height: 350px;
$profile-breakpoint: 700px;

.view {
  min-height: $min-height;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex: 2;
  padding: $default-spacing * 2.5;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
}
