@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.margin {
  margin: 0 $default-spacing * 2 $default-spacing * 2;
}

.wrapper {
  width: 100%;
  margin-top: $default-spacing * 2;
}
