@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.wrapper {
  padding: $default-spacing * 2;
  margin-bottom: $default-spacing * 2;
  @include elevationOne();
}

.title {
  @include panelTitleFont();
  padding-bottom: $default-spacing;
}

.button {
  padding: 0px;
}
