@import "../../../../../../../../styles/variables";
@import "../../../../../../../../styles/mixins";
@import "../../../../../../../../styles/status";

$wrapper-height: 75px;
$border: 1px;

.wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: $wrapper-height;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    height: $wrapper-height;
    width: $border;
    background-color: $color-grey-600;
    z-index: 0;
  }
}
