@import "../../../../../../../styles/variables";

.header {
  width: 90%;
}

.phoneNumber {
  color: $color-primary;
}

.image {
  position: absolute;
  float: right;
  right: -70px;
  top: -20px;
  z-index: 1;
}

.section {
  margin-bottom: $default-spacing * 3;
}
