@import "../../../../../../../styles/variables";

.wrapper {
  background: $color-warning-light;
  padding: $default-spacing * 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: $default-spacing;
}

.list {
  margin-top: $default-spacing;
}

.content,
.icon {
  padding: $default-spacing * 2;
}

$icon-font-size: 30px;

.icon {
  font-size: $icon-font-size;
  color: $color-warning;
}
