@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.title {
  @include form-subtitle();
  margin-bottom: $default-spacing * 2;
}

.question {
  margin-bottom: $default-spacing * 2;
}

.spacing {
  margin-top: $default-spacing * 2;
}
