@import "../../../../../../styles/mixins";

.incomeSourceForm {
  @include elevationTwo();
  padding: $default-spacing $default-spacing * 2;
}

.incomeDetailsSection {
  max-width: 300px;
  margin-bottom: $default-spacing;

  :global(.ant-input-number) {
    // ant set this value to 90px which make it impossible to customize
    width: 100%;
  }
}
