@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

$scroll-max-height: 270px;

.scroll {
  overflow: auto;
  max-height: $scroll-max-height;
}

.details {
  padding: $default-spacing $default-spacing * 2;
  border-bottom: 1px solid $color-grey-200;
  width: 100%;
}

.document {
  padding: 0px;
}

.unread {
  color: $color-action-blue;
  &:hover,
  &:focus {
    color: $color-action-blue;
  }
}

.read {
  color: $color-grey-700;
  &:hover,
  &:focus {
    color: $color-grey-700;
  }
}

.date {
  @include font($font-size-small, $color-grey-600);
  margin: 0px;
}

.panel {
  padding: $default-spacing * 2;
}
