@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$unreadFontSize: 14px;

.wrapper {
  margin-bottom: $default-spacing * 2;
  background-color: $color-white;
  @include elevationTwo();
}

.header {
  @include panelTitleFont;
  padding: 0 $default-spacing * 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unread {
  @include font($unreadFontSize, $color-grey-600);
}

.icon {
  padding: 0px;
  margin-right: $default-spacing;
  color: $color-grey-600;
}
