@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.panel {
  padding: $default-spacing * 2 $default-spacing * 3;
}

.title {
  @include displayTitleFont();
  margin: 0px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0px;
  }
}

.spacing {
  margin-top: $default-spacing * 2;
}
