@import "../../../../../../styles/variables";

.headerListWrapper {
    display: flex;
}

.unread {
    color: $color-action-blue;
}

.read {
    color: $color-grey-default;
}

.date {
    flex: 0 0 30%;
    margin-left: 12px;
}

.subject {
    padding-right: $default-spacing;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 70%;
}
