@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";
@import "../breakpoints";

.wrapper {
  max-width: 33.33%;
  color: $color-white;
  padding-right: $default-spacing * 2;
}

.title {
  @include displayTitleFont();
  color: $color-white;
  margin-bottom: $default-spacing * 2;
}

@media (min-width: $hero-sm-breakpoint) and (max-width: $hero-lg-breakpoint) {
  .wrapper {
    max-width: 100%;
    padding: 0;
  }
}

@media (min-width: $hero-sm-breakpoint) and (max-width: $hero-md-breakpoint) {
  .wrapper {
    padding: 0px;
  }
}
