@import "../../../../styles/variables";
@import "../../../../styles/mixins";

$icon-size: 22px;

.wrapper {
  padding: $default-spacing * 3;
}

.message {
  display: flex;
  align-items: center;
  padding-top: $default-spacing * 4;
}

.icon {
  color: $color-warning;
  font-size: $icon-size;
  margin-right: $default-spacing;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-top: $default-spacing * 3;

  > * + * {
    margin-left: $default-spacing;
  }
}
