@import "../../../../styles/variables";

$min-width: 250px;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $default-spacing * 2;

  > * + * {
    margin-left: $default-spacing;
  }
}

.filters {
  width: $min-width;
}

.select {
  width: 100%;
}

.label {
  color: $color-grey-600;
}

.button {
  padding: 0px;
}

.arrow {
  margin-left: $default-spacing / 2;
}
