@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$button-height: 24px;

.name {
  padding-left: $default-spacing / 2;
}

.button {
  padding: 0px;
  font-size: inherit;
  max-height: $button-height;
}
