@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

$intake-step-title-font-size: 20px;

.wrapper {
  border-left: $default-spacing solid $color-grey-300;
  margin-bottom: $default-spacing * 2;
  background-color: $color-white;
  @include elevationTwo();
}

.header {
  display: flex;
  align-items: center;
  @include font($intake-step-title-font-size, $color-grey-default);
  padding: 12px $default-spacing * 2;
  border-bottom: 1px solid $color-grey-300;
  cursor: pointer;
}

.activeHeader {
  color: $color-primary;
}

.active {
  border-left-color: $color-primary;
}

.body {
  padding: $default-spacing * 2 $default-spacing * 4;
}

.asterisk {
  @include font($font-size-small, $color-grey-500, 400, italic);
  margin-left: auto;
}
