@import "../../../../../../styles/variables";

.menu {
  // we don't want to overwrite all '.ant-dropdown' styles
  box-shadow: $elevation-level-two !important;
}

.logoutBtn {
  padding: 0px !important;
  color: $color-grey-default !important;
  &:hover {
    color: $color-action-blue !important;
  }
}
