@import "../../../../../../styles/variables";

.searchValues {
    border-radius: 10px;
    margin-right: 5px;
    margin-left: $default-spacing;
    background: $color-info;
    color: $color-white;
    padding: 0px 5px;
    align-items: center;
}

.iconPosition {
    color: $color-white;
    margin-left: 5px;
}

.searchPanel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    max-width: 99%;
}

.searchItem {
    border-radius: 10px;
    background: $color-info;
    margin-left: $default-spacing;
    padding: 0px 5px;
    color: $color-white;
}