@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.wrapper {
  padding-bottom: $default-spacing * 2;
  border-bottom: 1px solid $color-grey-200;
}

.content {
  margin-left: $default-spacing * 3;
  margin-top: $default-spacing;
}

.title {
  display: flex;
  justify-content: space-between;
}

.details {
  border-left: solid 2px $color-primary;
  margin: $default-spacing 0;

  .button {
    padding: 0 0 0 $default-spacing * 2;
    color: $color-action-blue;
  }
}

.properties {
  padding-left: $default-spacing * 3;
}

.detailToggleBtn {
  padding: 0;
  color: $color-action-blue;
  padding-left: $default-spacing * 2;

  &:focus,
  &:hover {
    color: $color-action-blue;
  }
}
