@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: $default-spacing * 4;
  border: $default-spacing / 2 dotted $color-grey-400;
  margin-bottom: $default-spacing;
}

.content {
  @include font(18px, $color-grey-600);
}
