@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.link {
  color: $color-action-blue;
  margin-left: $default-spacing * 3;
  @include defaultFont();
}

.margin {
  margin: $default-spacing * 2;
}
