@import "../../../../styles/variables";
@import "../../../../styles/mixins";

$hero-primary: #00aabc;
$hero-primary-dark: #00828f;
$img-width: 115px;

.header {
  background: linear-gradient(90deg, $hero-primary 0%, $hero-primary-dark 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $level-three-z-index * 4;
  width: 100%;
}

.branding {
  align-items: center;
  display: flex;
  max-height: $header-height;
  @include font($font-size-base, $color-white, $font-weight-slim, italic);

  img {
    width: $img-width;
  }
}

.icon {
  @include branding-separator(20px, 1px);
}

.dropdown {
  display: flex;
  align-items: center;
  color: $color-white;
}
