@import "../../../../../styles/variables";

.wrapper {
  margin-bottom: $default-spacing * 2;;
}

.timelineGantt {
  position: relative;
  margin: 0 $default-spacing;
}

.legendControlRow {
  text-align: right;
  margin-top: $default-spacing;
}

.legend {
  position: absolute;
  right: 0;
  top: 0;
  max-height: calc(100% + #{$default-spacing * 2});
  overflow: auto;
  transition: transform 0.3s ease;
  will-change: transform;
  transform: translateX(calc(100% + 15px));
  z-index: 10;
  padding: $default-spacing * 2 $default-spacing * 4;

  &.open {
    transform: translateX(0%)
  }
}
