// Primary
$color-primary: #00aabc;
$color-primary-dark: #00828f;
$color-primary-light: #92d5dc;
$color-primary-extra-light: #ecf9fe;

// Action
$color-action: #f6861f;
$color-action-blue: #1890ff;
$color-action-blue-light: #40a9ff;

// Success
$color-success: #35b558;
$color-success-dark: #35914e;
$color-success-light: #d0f4cc;

// Warning
$color-warning: #ffc20e;
$color-warning-dark: #e5a800;
$color-warning-light: #fff0cb;

// Danger
$color-danger: #f04c3f;
$color-danger-dark: #c72316;
$color-danger-light: #f2dede;

// Danger
$color-info: #23b7d6;
$color-info-dark: #0989a4;
$color-info-light: #bce8f1;

// Greys
$color-grey-100: #f4f5f6;
$color-grey-200: #e6e6e6;
$color-grey-300: #e9e7ec;
$color-grey-400: #d2d0d5;
$color-grey-500: #b3b3b3;
$color-grey-600: #999999;
$color-grey-700: #666666;
$color-grey-800: #333333;

$color-grey-default: $color-grey-800;
$color-white: #ffffff;
