$elevation-level-one: 0px 1px 4px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.12);
$elevation-level-two: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12);
$elevation-level-three: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
$elevation-level-four: 0px 5px 20px rgba(0, 0, 0, 0.08), 0px 4px 9px rgba(0, 0, 0, 0.12);
