//font-family
$font-family-sans-serif: -apple-system, "BlinkMacSystemFont", "Open Sans", "Roboto", "Helvetica Neue", "Arial",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: "Open Sans", $font-family-sans-serif;
//font-sizes
$font-size-base: 14px;
$font-size-display-title: 36px;
$font-size-display-title-medium: 28px;
$font-size-display-title-small: 24px;
$font-size-page-title: $font-size-display-title-small;
$font-size-panel-title: 18px;
$font-size-small: 12px;
//line-heights
$line-height-base: 1.5;
//font-weights
$font-weight-base: 400;
$font-weight-semi-bold: 600;
$font-weight-slim: 100;
