@import "../../../../../../styles/variables";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $default-spacing * 2;
}

.button {
  button {
    padding: 0px;
  }
}
