@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.wrapper {
  display: flex;
  padding: $default-spacing * 2;
  @include elevationOne();
}

.content {
  flex-direction: row;
}

.button {
  padding-left: 0;
  padding-right: 0;
}

.icon {
  color: $color-success;
  margin-right: $default-spacing;
}

.delete {
  margin-left: auto;
}
