/*-------------------------------------------------------------------------------------------
  FINEOS Corporation
  FINEOS House, EastPoint Business Park,
  Dublin 3, Ireland

  (c) Copyright FINEOS Corporation.
  ALL RIGHTS RESERVED

  The software and information contained herein are proprietary to, and comprise valuable
  trade secrets of, FINEOS Corporation, which intends to preserve as trade secrets such
  software and information. This software should only be furnished subject to a written
  license agreement and may only be used, copied, transmitted, and stored in accordance
  with the terms of such license and with the inclusion of the above copyright notice.
  If there is no written License Agreement between you and FINEOS Corporation, then you
  have received this software in error and should be returned to FINEOS Corporation or
  destroyed immediately, and you should also notify FINEOS Corporation. This software and
  information or any other copies thereof may not be provided or otherwise made available
  to any person who is not authorized to receive it pursuant to a written license Agreement
  executed with FINEOS Corporation.
-------------------------------------------------------------------------------------------*/

@import "~fineos-common/src/lib/styles/variables";
@import "~fineos-common/src/lib/styles/functions/rem";

$sidebar-z-index: 15;

$sidebar-width: 75px;
$popover-width-sm: 275px;
$popover-width-md: 325px;
$popover-width-lg: 400px;
$button-height: 60px;

@mixin popoverWidth($width) {
  width: $width;
  :global {
    .ant-popover-inner-content {
      max-width: $width;
    }
  }
}

.fixed {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $sidebar-z-index;
}

.sidebarWrapper {
  width: $sidebar-width;
  padding: toRem($default-spacing * 4) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarButton {
  height: $button-height;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-width: 0;
  box-shadow: none;
  padding: toRem($default-spacing);
}

.button:not(:last-child) {
  margin-bottom: toRem($default-spacing * 1.5);
}

.colorsPopover, .imagesPopover {
  @include popoverWidth($popover-width-sm);
}

.typographyPopover, .headerPopover {
  @include popoverWidth($popover-width-md);
}

.textPopover {
  @include popoverWidth($popover-width-lg);
}

.imagesPopover, .headerPopover {
  :global {
    z-index: $theme-configurator-popup-z-index;
  }
}

// General styles for theme configurator
.groupHead {
  text-align: left;
  display: block;
  margin-bottom: toRem($default-spacing / 2);
}

.sectionHead {
  margin-bottom: toRem($default-spacing * 1.5);
}

.inputLabel {
  display: block;
  text-align: left;
}

.divider {
  border-top: none;
  border-width: 1px;
}

.row {
  margin-bottom: toRem($default-spacing / 4);
}

.contentChangedIcon {
  margin-left: toRem($default-spacing / 2);
}

.infoIcon {
  padding: 0 toRem($default-spacing);
}

.actionButtons {
  margin-top: toRem($default-spacing / 2);
}

:global {
  .ant-input-number, .ant-input, .ant-select-selection {
    border-radius: 0;
  }
}

// Opacity slider needs to be hidden.
// All classes in inputColor component delivered by library are generated,
// also it provides no className prop, so there is no way to catch this element in other way
.inputColor {
  [class*="-Popover"] [class*="-ColorPicker"]:nth-child(2) [class*="-Slider"]:nth-child(2)  {
    display: none;
  }
}

