@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: $color-action-blue;
}

.dateTime {
  margin-left: auto;
  @include smallFont();
}

.relatesTo {
  @include smallFont();
}
