@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$max-panel-width: 600px;

.panel {
  margin-bottom: $default-spacing * 2;
  max-width: $max-panel-width;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: $default-spacing * 2;
}

.header {
  display: flex;
}

.title {
  @include font(18px, $color-grey-700);
  margin-bottom: $default-spacing * 2;
  flex: 2;
}

.deleteBtn {
  color: $color-grey-500;

  &:focus,
  &:hover {
    color: $color-grey-700;
  }
}

.content {
  display: flex;
  flex-direction: column;
}
