@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$hero-primary: #007986;
$hero-primary-dark: #004a67;
$confirmation-offset: 97px;

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(to left, $hero-primary, $hero-primary-dark);
  overflow: auto;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: url("../../../../../assets/img/intake-confirmation-background.svg") right top no-repeat;
    z-index: 0;
    opacity: 0.5;
  }
}

.content {
  width: 100%;
}

.row {
  width: 100%;
}

.card {
  z-index: 1;
  margin: $default-spacing * 4;
}

.header {
  @include font(24px, $color-primary, $font-weight-base);
  margin-bottom: $default-spacing * 3;
}

$close-btn-width: 200px;

.closeButton {
  margin-top: $default-spacing * 3;
  width: $close-btn-width;
}
