@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.card {
  height: inherit;
  position: relative;
  width: 100%;
  background-color: $color-white;
  @include elevationTwo();
}
