@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.wrapper {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  padding: $default-spacing * 2;
}

.withBorder {
  border-bottom: 1px solid $color-grey-300;
}

.header {
  @include panelTitleFont;
  font-weight: $font-weight-semi-bold;
  color: $color-action-blue;
}

.label {
  color: $color-grey-600;
  font-size: $font-size-small;
  margin-bottom: 0px;
}

.property {
  color: $color-grey-700;
  font-size: $font-size-small;
  padding-right: $default-spacing;
}
