@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.title {
  @include form-subtitle();
  margin-bottom: $default-spacing * 2;
}

.buttonMargin {
  margin-top: 16px;
}

.group {
  display: block;
  height: 30px;
  line-height: 30px;
}
