@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.notificationReference {
  @include elevationOne();
  padding: $default-spacing * 2;
  margin-bottom: $default-spacing * 2;
}

.referenceId {
  margin: $default-spacing 0;
  @include font($font-size-page-title, $color-grey-800, 700);
}
