@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.wrapper {
  background-color: $color-primary;
  color: $color-white;
  padding: $default-spacing * 4;
  @include elevationTwo();
}

.heading {
  @include font($font-size-display-title-small, $color-white);
  margin: 0px;
}

.text {
  margin: $default-spacing * 2 0px;
}

.phone {
  @include font($font-size-display-title-medium, $color-white, $font-weight-semi-bold);
  margin: 0px;
}
