@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.wrapper {
  background-color: $color-white;
  padding: $default-spacing * 2;
  margin-bottom: $default-spacing * 2;
  @include elevationTwo();
}
