@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.body {
  padding: $default-spacing * 3;
}

.case {
  margin-bottom: $default-spacing + 4;
}

.container {
  @include panelTitleFont();
}
