@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.icon {
  color: $color-action-blue;
}

.actions {
  display: block;
  color: $color-action-blue;
  margin-top: $default-spacing * 2;
  padding: 0px;
}

.betweenDate {
  white-space: nowrap;
}
