@import "../../../../styles/variables";
@import "../../../../styles/mixins";

$navbar-height: 47px;
$my-messages-header-height: 80px;
$my-messages-filters-height: 32px;

// need to calculate the offset using the header, navbar, the page header, and page filter heights
$panel-wrapper-height-offset: #{$header-height} + #{$navbar-height} + #{$my-messages-header-height} + #{$my-messages-filters-height} +
  #{$default-gutter-padding};

.panelWrapper {
  height: calc(100vh - (#{$panel-wrapper-height-offset}));
  margin-bottom: $default-spacing * 2;
}

.listPosition {
  max-height: 100%;
  overflow: auto;
  border: 1px solid $color-grey-300;
}

.detailsPosition {
  height: 100%;
}
