@import "../../../../../../styles/variables";

@mixin icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: $color-grey-600;
  border: 2px solid $color-grey-600;
  border-radius: 100%;
  background-color: $color-white;
}

@mixin icon-circle-active {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
}

$middle-section-offset: 22px;
$end-section-offset: 32px;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  min-width: 90px;

  &:nth-child(2) {
    padding: 0px $middle-section-offset;
  }

  &:nth-child(3) {
    padding-left: $end-section-offset;
  }
}

.section.disabled {
  cursor: not-allowed;

  &:focus {
    outline: none;
  }
}

.sectionIcon {
  @include icon-circle();
}

.sectionIcon.active {
  @include icon-circle-active();
}

.sectionTitle {
  color: $color-grey-600;
}

.sectionTitle.active {
  color: $color-primary;
}
