@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

$icon-size: 16px;
$button-height: 24px;

.wrapper {
  padding: $default-spacing $default-spacing * 2;
  border-bottom: 1px solid $color-grey-200;
  flex: 1;

  &.wrapperWithDetails {
    display: flex;
    flex-direction: column;
  }
}

.button {
  padding: 0;
  font-size: inherit;
  max-height: $button-height;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: $color-success-dark;
  font-size: $icon-size;
}

.link {
  @include link-color($color-action-blue, $color-action-blue-light);
}
