@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

$phone-offset: 34px;

.phone {
  i {
    margin-right: $default-spacing / 2;
    transform: rotate(90deg);
  }

  @include defaultFont();
  margin-bottom: $phone-offset;
}
