@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

$icon-size: 34px;

.header {
  display: flex;
  align-items: center;
}

.title {
  @include displayTitleSmallFont();
  padding-left: $default-spacing;
  margin: 0;
}

.icon {
  font-size: $icon-size;
  padding-right: $default-spacing;
  color: $color-grey-400;

  img {
    max-height: $icon-size;
  }
}

.content {
  padding-bottom: $default-spacing * 2;
}
