@import "../../../../styles/variables";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;

  > * + * {
    margin-left: $default-spacing * 2;
  }
}
