@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.wrapper {
  display: flex;
  padding: $default-spacing * 3;
}

.margin {
  margin-right: $default-spacing * 4;
}

.button {
  margin-left: $default-spacing * 3;
  margin-bottom: $default-spacing * 3;
}
