@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";
@import "../breakpoints";

$hero-height: 220px;
$slant-width: 30px;
$action-btn-height: 32px;
$margin-offset: 50px;

.wrapper {
  height: $hero-height;
  margin-bottom: -150px;
  padding-left: $default-spacing * 2;
}

.content {
  display: flex;
  height: 100%;
}

.message {
  display: flex;
  flex-direction: column;
  width: calc(50% - #{$slant-width});
  padding: $default-spacing * 2 $default-spacing * 4;
}

.image {
  width: calc(50% + #{$slant-width});
  background: $color-grey-200;
  border-left: $slant-width * 2 solid $color-white;
  border-bottom: $hero-height solid transparent;
}

.title {
  @include displayTitleSmallFont();
  color: $color-primary;
  margin-bottom: $default-spacing * 2;
}

.action {
  margin-top: auto;
}

.actionBtn {
  min-height: $action-btn-height;
  @include button-variant($color-action, lighten($color-action, 7), darken($color-action, 10));
  @include elevationOne();
}

@media (min-width: $hero-lg-breakpoint) and (max-width: $hero-lg-breakpoint + 70px) {
  .wrapper {
    height: $hero-height + $margin-offset;
  }

  .image {
    border-bottom: $hero-height + $margin-offset solid transparent;
  }
}

@media (min-width: $hero-sm-breakpoint) and (max-width: $hero-lg-breakpoint) {
  .wrapper {
    height: inherit;
    padding: 0px;
  }
}

@media (min-width: $hero-sm-breakpoint) and (max-width: $hero-md-breakpoint) {
  .message {
    width: 100%;
  }

  .image {
    display: none;
  }
}
