@import "~fineos-common/src/lib/styles/variables";
@import "~fineos-common/src/lib/styles/mixins";
@import "~fineos-common/src/lib/styles/functions/rem";

.selectPhoneNumber {
  margin-top: toRem(-$default-spacing * 2);

  .phoneNumberCard {
    padding: toRem($default-spacing) toRem($default-spacing * 3) toRem($default-spacing) toRem($default-spacing * 2.5);
  }

  .phoneNumberCard:not(:last-child) {
    margin-bottom: toRem($default-spacing);
  }
  
  .radioOption {
    display: block;
    padding: toRem($default-spacing * 0.5)
  }

  :global {
    .ant-radio-group {
      width: 100%;
    }
  }
}