@import "../variables";

$default-stripe-degree: -45deg;

@function stripesBackground($regular-color, $lighter-color, $stripe-distance, $stripe-degree: $default-stripe-degree) {
  @return repeating-linear-gradient(
    $stripe-degree,
    $lighter-color,
    $lighter-color $stripe-distance,
    $regular-color $stripe-distance,
    $regular-color ($stripe-distance * 2)
  );
}

@function semiFilledBackground($regular-color, $lighter-color) {
  @return linear-gradient(to bottom, $lighter-color, $lighter-color 50%, $regular-color 50%, $regular-color);
}

@mixin shapes($regular-color, $lighter-color) {
  $stripe-distance: 10px;

  &.filledShape {
    background-color: $regular-color;
  }

  &.stripesShape {
    background: stripesBackground($regular-color, $lighter-color, $stripe-distance);
  }

  &.semiFilledShape {
    background: semiFilledBackground($regular-color, $lighter-color);
  }
}
