@mixin button-variant($color, $color-hover, $color-focus) {
  background-color: $color;
  border-color: $color;

  &:focus {
    background-color: $color-focus;
    border-color: $color-focus;
  }

  &:hover {
    background-color: $color-hover;
    border-color: $color-hover;
  }
}
