@import "../variables/elevation";

@mixin elevationOne() {
  box-shadow: $elevation-level-one;
}

@mixin elevationTwo() {
  box-shadow: $elevation-level-two;
}

@mixin elevationThree() {
  box-shadow: $elevation-level-three;
}

@mixin elevationFour() {
  box-shadow: $elevation-level-four;
}
