@import "../variables/typography";

@mixin defaultFont() {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

@mixin defaultBoldFont() {
  font-size: $font-size-base;
  font-weight: $font-weight-semi-bold;
}

@mixin defaultUppercaseFont() {
  @include defaultFont();
  text-transform: uppercase;
}

@mixin displayTitleFont() {
  font-size: $font-size-display-title;
  font-weight: $font-weight-base;
}

@mixin displayTitleSmallFont() {
  font-size: $font-size-display-title-small;
  font-weight: $font-weight-base;
}

@mixin pageTitleFont() {
  font-size: $font-size-page-title;
  font-weight: $font-weight-semi-bold;
}

@mixin panelTitleFont() {
  font-size: $font-size-panel-title;
  font-weight: $font-weight-base;
}

@mixin smallFont() {
  font-size: $font-size-small;
  font-weight: $font-weight-base;
}

@mixin smallBoldFont() {
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
}

@mixin smallFontUppercase() {
  @include smallFont();
  text-transform: uppercase;
}

@mixin font($size: $font-size-base, $color: $color-grey-default, $weight: $font-weight-base, $style: normal) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
}
