@import "../variables";

@mixin link-color($color: $color-grey-default, $color-hover: $color-action-blue, $color-focus: $color-action-blue) {
  color: $color;

  &:hover {
    color: $color-hover;
  }

  &:focus {
    color: $color-focus;
  }
}
